body {
    margin: 0;
    color: black;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

@font-face{
    font-family: 'Seact Clean';
    src: url('SeactClean.otf'), format('opentype');
  }
@font-face{
    font-family: 'Seact Rough';
    src: url('SeactRough.otf'), format('opentype');
}
@font-face{
    font-family: 'Seact Swash';
    src: url('SeactSwash.otf'), format('opentype');
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 0.6em 0;
}

/* Navbar */
.navbar-brand {
    font-family: 'Seact Rough';
}

/* Hero */
#hero {
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

#hero .bg-image {
    position: absolute;
    background:linear-gradient(rgba(77, 166, 225, 0.5),rgba(77, 166, 225, 0.5)), url('https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&s=5a366bb7541ca3b03708f7c531d94cbf&auto=format&fit=crop&w=1458&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
}

#hero h1 {
    font-family: 'Seact Rough';
    font-size: 150px;
    padding-top: 200px;
}

#hero p {   
    text-shadow: 2px 2px 2px #ccc;
}

/* Main */

/* Section A */
#section-a {
    padding-top: 100px;
    padding-bottom: 100px;
}

#section-a h3{
    padding-top: 15px;
    padding-bottom: 0;
}

#section-a p{
    padding-bottom: 30px;
}

.section-a-contents {
    padding-bottom: 30px;
}

.section-a-contents i{
    padding-bottom: 0;
    font-size: 40px;
}